@import "../blog-udacity/navigation.css";
@import "../blog-udacity/blog_post.css";
@import "../blog-udacity/contact.css";

/* Structure of blog */
.wrapper {
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.header {
  background: white;
  background-image: url(https://cdn.pixabay.com/photo/2015/12/04/14/05/code-1076536_960_720.jpg);
  background-size: cover;
}

.footer {
  background: white;
  justify-items: auto;
}

.main {
  text-align: left;
  background: white;
}

.aside-2 {
  background: white;
  border: 5px solid whitesmoke;
  text-align: left;
}

@media all and (min-width: 600px) {
  .aside { flex: 1 0 0; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; } 
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
}

body {
  padding: 2em; 
}
